doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Nota Bene
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/grayscale.css', rel='stylesheet')
    link(rel='stylesheet', href='css/jquery.confirm.css')
    script(src='js/jquery-1.11.1.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

    
  body

   nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
     .container
       .navbar-header#top
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
           | Menu 
           i.fa.fa-bars
         a.navbar-brand.page-scroll(href='#page-top')
           i.fa.fa-play-circle(style='color:turquoise')
           span.light   Nota
           |  Bene
       // Collect the nav links, forms, and other content for toggling
       .collapse.navbar-collapse.navbar-right.navbar-main-collapse
         ul.nav.navbar-nav
           // Hidden li included to remove active class from about link when scrolled up past about section
           li.hidden
             a(href='#page-top')
           li
             a#newnotes.page-scroll(href='javascript: confirmNewText("clear");')
               span.glyphicon.glyphicon-new-window
               |  New Notes
               &nbsp;&nbsp;
           li
             a#settings.page-scroll(href='#')
               span.glyphicon.glyphicon-wrench
               |  Settings
               &nbsp;&nbsp;
           li
             a#newtitle.page-scroll(href='#')
               span.glyphicon.glyphicon-pencil
               |  New Title
               &nbsp;&nbsp;
           li
             a.page-scroll(href='/logout')
               span.glyphicon.glyphicon-log-out
               |  Sign Out
               &nbsp;&nbsp;

       // /.navbar-collapse
   .notawrapper(style='padding-right:8%;padding-left:8%;')
    center
     table
       tr
        th
         .mainmenu       
           a#downloadtxt.btn.btn-sm.btn-default(href='/download_txt')
             span.glyphicon.glyphicon-download-alt
             |  Download Txt 
           &nbsp;&nbsp;&nbsp;&nbsp;
           a#email.btn.btn-sm.btn-default(href='/email')
             span.glyphicon.glyphicon-envelope
             |  Send to my email
        th
         .mainmenu(style="margin:10px;")
           strong   
             span#welcome_span(style='color: white;')  
           br
           span#language_span(style='color: white; font-style: italic;')
      
   .container#startstop
    center
     .container(style='padding-top:2%;')
      center
       span#button    
       br
               
   .container(style='padding-right:10%;padding-left:10%;padding-top:2%;')
     left     
        .nosubpage#page
         span#title_span
         span#docA_span(style='color: white; font-size: 20px;')
         span#interim_span(style='color: turquoise; font-size: 20px;font-weight: bold;')
         span#icon_span
         span#manual_span(style='color: white; font-size: 20px;')    
         span#docB_span(style='color: white; font-size: 20px;')
         br  
         br
         span#words_span(style='color: turquoise; font-size: 1em;')      
     .clear_all 
  footer(style='position:relative;')
   .container(style='color:turquoise;')
    center
     p Nota Bene will always save your last notes by default until you delete them manually by selecting "new notes"
     br
     a(href='http://s3r3nity.com',target='_blank') Copyrigth 2016 S3R3NITY Technologies    

   script(type='text/javascript')     
   script(src='/socket.io/socket.io.js')  
   script(src="./app/speech.js")
   script(src="./app/cookie.js")
   script(src="./app/data.js")
   script(src="./app/controls.js")
   script(src="./app/jquery.confirm.js")
   script(src="./app/lib.js")
   script(src='js/bootstrap.min.js')   
   script
     var domain = document.domain;
     document.domain = "localhost"
     

