doctype html
html
  head
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Nota Bene - Login
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/grayscale.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body(style='padding:10%;background-image:url(/img/grey.jpg)')
   .container-fluid(style='padding:10%')
    center
     h2 Register and start taking notes ! 
     if errors != null
       p #{errors}
     else        
       p You must enter a valid email to be registered. Once registered you will be directly redirected to Smarnotes and ready to start!

     form(role='form', action="/register",method="post", style='max-width: 750px;')
       .input-group
           span#basic-addon1.input-group-addon @
           input.form-control(type='text', name="username", placeholder='Enter A Valid Email')
       br    
       .input-group
           span#basic-addon1.input-group-addon 
             span.glyphicon.glyphicon-lock
           input.form-control(type='password', name="password", placeholder='Password')
       br  
       button.btn.btn-default.btn-outline.btn-lg.page-scroll(type='submit', style='color:white;') Submit
       &nbsp; 
       a(href='/')
         button.btn.btn-default.btn-outline.btn-lg.page-scroll(type='button', style='color:white;') Cancel
   script(src='js/bootstrap.min.js')        
